<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <handlers accessPolicy="Read, Execute, Script">
            <add name="FastAPIHttpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler"
                resourceType="Unspecified" />
        </handlers>
        <httpPlatform processPath="U:\\2_Environments\\Python\\webvenv2\\Scripts\\python.exe"
            arguments="-m uvicorn --port %HTTP_PLATFORM_PORT% website:app"
            stdoutLogEnabled="true" stdoutLogFile="U:\\3_Websites\\Default\\minecraft.error44.dev\\logs\\python.log"
            startupTimeLimit="120" requestTimeout="00:10:00">
        </httpPlatform>
        <httpErrors errorMode="Detailed" />
    </system.webServer>
</configuration>
