<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Primary Meta Tags -->
    <title>Minecraft Item Search</title>
    <meta name="title" content="Minecraft Item Search">
    <meta name="description" content="Entdecke alle Items aus Minecraft  1.0! Durchsuche die komplette Item-Datenbank und finde detaillierte Informationen für jedes Minecraft-Item.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://minecraft.error44.dev/">
    <meta property="og:title" content="Minecraft Item Search">
    <meta property="og:description" content="Entdecke alle Items aus Minecraft  1.0! Durchsuche die komplette Item-Datenbank und finde detaillierte Informationen für jedes Minecraft-Item.">
    <meta property="og:image" content="/assets/img/icon.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://minecraft.error44.dev/">
    <meta property="twitter:title" content="Minecraft Item Search">
    <meta property="twitter:description" content="Entdecke alle Items aus Minecraft  1.0! Durchsuche die komplette Item-Datenbank und finde detaillierte Informationen für jedes Minecraft-Item.">
    <meta property="twitter:image" content="/assets/img/icon.png">

    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/icon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/icon.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/icon.png">

    <!-- Manifest -->
    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#2d2d2d">

    <!-- Styles -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- NEU: Icon-Sprite CSS hinzufügen -->
    <link rel="stylesheet" href="/assets/css/icons.css">
    <link rel="" href="/assets/css/fontawesome.css">
</head>
<body class="{% block body_class %}{% endblock %}">

    {% block content %}{% endblock %}

    <footer class="footer">
        <span>Minecraft 1.0 Search - <a href="/impressum">Imprint</a> - <a href="/datenschutz">Privacy Policy</a></span>
        <span>This site is not affiliated with Minecraft or Mojang!</span>
    </footer>

    <script src="/assets/js/script.js" type="text/javascript"></script>
</body>
</html>