
{% extends "base.html" %}

{% block body_class %}home{% endblock %}

{% block content %}
<div class="logo">
    <div class="logo-message">{{ error_code }} - {{ error_message }}</div>
</div>

<nav class="mc-menu">
    <a href="/" class="mc-button full" data-link>
        <div class="title">Back to Home</div>
    </a>
    <div class="double">
        <a href="/sources" class="mc-button full" data-link>
            <div class="title">Sources</div>
        </a>
        <a href="/quit" class="mc-button full" data-link>
            <div class="title">Quit Site</div>
        </a>
    </div>
</nav>

{% endblock %}