{% extends "base.html" %}

{% block content %}

<div class="minecraft-container">
<div class="mc-screen-title">Special thanks to</div>
    <div class="content-section" style="
        padding-top: 10%;
        width: 90%;
        margin: auto;">
        <div class="attribute-group">
            <dt>Inspiration</dt>
            <span style="margin-right: 10px; margin-left: 10px;"> - </span>
            <dd><a href="https://github.com/jerosajose/minecraft-html">https://github.com/jerosajose/minecraft-html</a></dd>
        </div>
        <div class="attribute-group">
            <dt>Buttons</dt>
            <span style="margin-right: 10px; margin-left: 10px;"> - </span>
            <dd><a href="https://codepen.io/joexmdq/pen/EOMLzg">https://codepen.io/joexmdq/pen/EOMLzg</a></dd>
        </div>
        <div class="attribute-group">
            <dt>Font</dt>
            <span style="margin-right: 10px; margin-left: 10px;"> - </span>
            <dd><a href="https://www.dafont.com/de/minecraftia.font">https://www.dafont.com/de/minecraftia.font</a></dd>
        </div>
        <div class="attribute-group">
            <dt>Heading</dt>
            <span style="margin-right: 10px; margin-left: 10px;"> - </span>
            <dd><a href="https://logo.com/blog/minecraft-logo">https://logo.com/blog/minecraft-logo</a></dd>
        </div>
        <div class="attribute-group">
            <dt>Wallpaper</dt>
            <span style="margin-right: 10px; margin-left: 10px;"> - </span>
            <dd><a href="https://x.com/crash21yt1/status/1285609478860222465/photo/2">https://x.com/crash21yt1/status/1285609478860222465/photo/2</a></dd>
        </div>
        <div class="attribute-group">
            <dt>Wallpaper2</dt>
            <span style="margin-right: 10px; margin-left: 10px;"> - </span>
            <dd><a href="https://static.wikia.nocookie.net/minecraft_gamepedia/images/3/3d/Dirt_(texture)_JE2_BE2.png">https://static.wikia.nocookie.net/minecraft_gamepedia/images/3/3d/Dirt_(texture)_JE2_BE2.png</a></dd>
        </div>
        <div class="attribute-group">
            <dt>Icons</dt>
            <span style="margin-right: 10px; margin-left: 10px;"> - </span>
            <dd><a href="https://www.gamergeeks.net/apps/minecraft/web-developer-tools/css-blocks-and-entities">https://www.gamergeeks.net/apps/minecraft/web-developer-tools/css-blocks-and-entities</a></dd>
        </div>
    </div>
</div>

<nav class="mc-menu">
    <a href="/" class="mc-button full" data-link>
        <div class="title">Back to Home</div>
    </a>
</nav>

{% endblock %}